output
obj
bin

*.pyc
*.swp
.vs
*.userprefs
.gdb_history

# robot test result files
output.xml
report.html
log.html

#resources
.renode_libs_fetched
lib/resources/
src/Renode/Properties/AssemblyInfo.cs
packages
/Directory.Build.targets

#verilator trace files
*.vcd

perf.data
perf.script
.venv

# --- Aliro/U400 consolidation: copyrighted firmware + firmware-derived + big build dumps ---
matter/aliro-u400/firmware/
**/fuzzware/**/*.bin
**/*.ota
**/*.gbl
**/U400*.elf
**/U400*.bin
*.out
scripts/silabs-vuln/*.elf
scripts/silabs-vuln/*.bin
matter/aliro-u400/scenarios/*.bin
matter/aliro-u400/fuzzware/seeds/
silabs-vuln-devices/**/*.elf
